*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #bbb;
}

.clock{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/clockUI2.png);
    background-size: cover;
    border: 1px solid rgba(5, 5, 5, 0.1);
    border-radius: 5%;
    box-shadow: 20px 30px 30px rgba(5, 5, 255, 0.3);
}

.clock:before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #777;
    border-radius: 5%;
    box-shadow: 20px 30px 30px rgba(50, 50, 50, 0.2);
    z-index: 10000;
    
}

.clock .hour,
.clock .minute,
.clock .second
{
    position: absolute;
}

.clock .hour, .hr{
    width: 160px;
    height: 160px;
}
.clock .minute, .min{
    width: 190px;
    height: 190px;
}
.clock .second, .sec{
    width: 230px;
    height: 230px;
}

.hr, .min, .sec{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    border-radius: 50%;
}

.hr:before{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #766;
    z-index: 10;
    border-radius: 15px;
}

.min:before{
    content: '';
    position: absolute;
    width: 4px;
    height: 110px;
    background: #778;
    z-index: 11;
    border-radius: 15px;
}

.sec:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 140px;
    background: #555;
    z-index: 10;
    border-radius: 15px;
}
